scyuseradminclient/src/main/java/eu/scy/modules/useradmin/wsclient/userManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:schema="http://www.scy-net.eu/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.scy-net.eu/schemas">
  <wsdl:types>
    <xs:schema xmlns:scy="http://www.scy-net.eu/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.scy-net.eu/schemas">
    <xs:element name="LoginRequest">
        <xs:complexType>
            <xs:all>
                <xs:element name="UserName" type="scy:StringType"/>
                <xs:element name="Password" type="scy:StringType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="LoginResponse">
        <xs:complexType>
            <xs:all>
                <xs:element name="LoginResponse" type="scy:ReturnType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="StringType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReturnType">
        <xs:sequence>
            <xs:element name="Message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="LoginRequest">
    <wsdl:part element="schema:LoginRequest" name="LoginRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part element="schema:LoginResponse" name="LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserManagement">
    <wsdl:operation name="Login">
      <wsdl:input message="schema:LoginRequest" name="LoginRequest">
    </wsdl:input>
      <wsdl:output message="schema:LoginResponse" name="LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserManagementBinding" type="schema:UserManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Login">
      <soap:operation soapAction=""/>
      <wsdl:input name="LoginRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="LoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserManagementService">
    <wsdl:port binding="schema:UserManagementBinding" name="UserManagementPort">
      <soap:address location="http://localhost:8080/scyadmin/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>